<!-- Metadados da pagina -->
<%- include("../partials/head" )%>

    <body>
        <%- include("../partials/header") %>

            <main class="container-fluid">
                <section class="container-fluid container-sm mt-6">

                    <p class="text-light text-center h1 mb-5">Atualizar Caixa</p>
                    <div class="content-form-update">

                        <p class="text-light text-start h6 mb-3">Selecione qual campo(os) deseja atualizar</p>

                        <form method="POST" action="box/<%= id %>?_method=PUT" name="id">
                            <div class="input-group input-group mb-3 placeholder-wave">

                                <label for="number" class="input-group-text inputGroup-sizing-default">ID:</label>
                                <input type="number" name="id" id="number" value="<%= id %>" required autofocus
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary
                                    opacity-75"
                                    aria-label="Sizing text input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group input-group mb-3 placeholder-wave">

                                <label for="date" class="input-group-text inputGroup-sizing-default">Data da
                                    Modificação:</label>
                                <input type="date" id="data" name="dateModify" value="<%#= currentDate %>" required
                                    autofocus
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary
                                    opacity-75"
                                    aria-label="Sizing text input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group input-group mb-3 placeholder-wave">

                                <label for="name" class="input-group-text inputGroup-sizing-default">Nome
                                    Descritivo:</label>
                                <input id="name" name="nameDescription" value="<%#= nameDescription %>" required
                                    autofocus
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary
                                    opacity-75"
                                    aria-label="Sizing text input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group input-group mb-3 placeholder-wave">

                                <label for="locale"
                                    class="input-group-text inputGroup-sizing-default">Localização:</label>
                                <input type="text" id="locale" name="locale" value="<%#= locale %>" required autofocus
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary
                                    opacity-75"
                                    aria-label="Sizing text input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group input-group mb-3 placeholder-wave">

                                <label for="descricao" class="input-group-text inputGroup-sizing-default">Active
                                    CTO:</label>
                                <input type="number" id="descricao" name="activeCto" value="<%#= activeCto %>" required
                                    autofocus
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary
                                    opacity-75"
                                    aria-label="Sizing text input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group input-group mb-3 placeholder-wave">

                                <label for="networkTechnology"
                                    class="input-group-text inputGroup-sizing-default">Tecnologia de Rede:</label>
                                <input type="text" id="networkTechnology" name="networkTechnology"
                                    value="<%#= networkTechnology %>" required autofocus
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary
                                    opacity-75"
                                    aria-label="Sizing text input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group input-group mb-3 container-btn">
                                <button type="submit" class="btn btn-outline-light text-uppercase
                                btn-content">Atualizar</button>
                            </div>
                        </form>
                    </div>
                    
                </section>

            </main>
            <!-- Footer da pagina -->
            <%- include("../partials/footer") %>

    </body>

    </html>