<!-- Metadados da página -->
<%- include("../partials/head" )%>

    <body>
        <%- include("../partials/header") %>

            <main class="container-fluid">
                <section class="container-fluid container-sm mt-6">

                    <p class="text-light h1 text-center mb-5">Detalhes da Caixa</p>

                    <!-- <h4>Detalhes do objeto:<span class="content-name"><%= detailBox.nameDescription %></span></h4> -->

                    <% if (detailBox) { %>
                        <% const object=detailBox[0]; %>
                            <ul class="">

                                <% if (object.fusions && object.fusions.length> 0) { %>
                                    <% const fusion=object.fusions[0]; %>
                                        <li class="has-text-danger">
                                            <span class="content-list text-light">Numero de fusões:</span>
                                            <%= fusion.numberFusions %>
                                        </li>
                                        <% if (fusion.colouring) { %>
                                            <li class="has-text-danger">
                                                <span class="content-list text-light">Cores:</span>
                                                <%= fusion.colouring.colors %>
                                            </li>
                                            <% if (fusion.colouring.links) { %>
                                                <li class="has-text-danger">
                                                    <span class="content-list text-light">Nome de referencia do tubet:</span>
                                                    <%= fusion.colouring.links.refenrenceName %>
                                                </li>
                                                <li  class="has-text-danger">
                                                    <span class="content-list text-light">Chegada do Link na fibra de cor:</span>
                                                    <%= fusion.colouring.links.comeLink %>
                                                </li>
                                                <li  class="has-text-danger">
                                                    <span class="content-list text-light">Cor do tubet da chegada do Link:</span>
                                                    <%= fusion.colouring.links.colorTubet %>
                                                </li>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                            </ul>
                            <% } else { %>
                                <p>Box não encontrada.</p>
                                <% } %>
                </section>
            </main>
            <!-- Footer da pagina -->
            <%- include("../partials/footer") %>
    </body>

    </html>

    <!--  fusions:
    "dateModify": "2023-05-09",
    "numberFusions": 2 
-->
    <!-- colouring:
    "colors": "verde-verde, verde-amarelo" 
-->
    <!-- links:
    "dateModify": "2023-05-09",
    "refenrenceName": "Beira do rio",
    "comeLink": "verde",
    "colorTubet": "verde"
-->