<!-- Metadados da pagina -->
<%- include("../partials/head" )%>

    <body>
        <%- include("../partials/header") %>

            <main class="container-fluid container-boxes">
                <section class="container-fluid content-boxesall mt-6">

                    <p class="text-light h1 text-center">Caixas</p>

                    <div class="content-boxes">
                        <ul class="container-list boxes-list">

                            <% boxesAll.forEach(function(box) { %> <!-- boxesALL é uma const no controlador-->
                                <div class="container-fluid foreach boxes-foreach-item" id="container-boxes-item">

                                    <li class="has-text-danger list-item">
                                        <span class="content-list text-light">ID:</span>
                                        <%= box.id %>
                                    </li>
                                    <li class="has-text-danger list-item">
                                        <span class="content-list text-light">Data de Modificação:</span>
                                        <%= box.dateModify %>
                                    </li>
                                    <li class="has-text-danger list-item">
                                        <span class="content-list text-light">Nome Descritivo:</span>
                                        <%= box.nameDescription %>
                                    </li>
                                    <li class="has-text-danger list-item">
                                        <span class="content-list text-light">Localização:</span>
                                        <%= box.locale %>
                                    </li>
                                    <li class="has-text-danger list-item">
                                        <span class="content-list text-light">Active CTO:</span>
                                        <%= box.activeCto %>
                                    </li>
                                    <li class="has-text-danger list-item mb-2">
                                        <span class="content-list text-light">Tecnologia de Rede:</span>
                                        <%= box.networkTechnology %>
                                    </li>
                                </div>
                                <% }); %>
                                    <!-- Pagination Bulma -->
                                    <nav class="pagination is-right is-small" role="navigation" aria-label="pagination">

                                        <ul class="pagination-list">
                                            <%# for(let nPages = 1; nPages <= totalityPage; nPages++) { %>
                                            <li><a href="?page=<%# nPages %>" class="pagination-link" aria-label="<%# nPages %>"><%# nPages %>1</a></li>
                                            <li><a href="?page=<%# nPages %>" class="pagination-link" aria-label="<%# nPages %>"><%# nPages %>2</a></li>
                                            <li><a href="?page=<%# nPages %>" class="pagination-link" aria-label="<%# nPages %>"><%# nPages %>3</a></li>
                                            <li><a class="pagination-link is-current" aria-current="page">&hellip;</a></li> 
                                            <%# } %>
                                        </ul>
                                    </nav>
                        </ul>
                    </div>
                </section>
            </main>
            <!-- Footer da pagina -->
            <%- include("../partials/footer") %>
    </body>

    </html>